@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body { 
  background: #060022 url('./imgs/background.jpeg') no-repeat fixed center center / cover;
  font-family: 'Press Start 2P', cursive;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(111, 22, 228);
}

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: 1000;
  color: #FFD700;
}

#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD700;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  color: #0A0523;
  letter-spacing: -1px;
}

#score-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 30px;
}

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.score-item span {
  margin-right: 10px;
  color: #0A0523;
}

#computer-score, #player-score {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #FFD700;
  color: #0A0523;
}

.roundResult, .gameResult {
  margin-top: 15px;
  color: white;
  text-align: center;
}

img{ 
  width: 150px;
  background-color: #0A0523;
}

.btn {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 40px;
}

.btn:hover {
  transform: scale(1.1);
}

#restart-button {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  font-size: 15px;
  background-color: rgb(27, 10, 54);
  color: #ffffff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  height: 30px;
  letter-spacing: -1px;
  margin-top: 20px;
}

.result-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  height: fit-content;
  width: 650px;
  border: 3px solid rgb(12, 12, 12);
  border-radius: 10px;
  margin: 30px;
}
